.layout {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 1rem;
}
.name {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.types {
  font-style: italic;
  margin-bottom: 0.5rem;
}
.heading {
  font-weight: bold;
}
.attribute {
  font-weight: bold;
}
.picture {
  min-height: 400px;
}
