.home {
  padding: 2rem;
}
.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.card img {
  max-height: 200px;
}
